 
    

.header{
    display: flex;
    justify-content: space-between;
}
.header{
    position: relative;
}
img{
    height: 100px;
}
.ant-layout-header{
    height: 100px;
}
.butn{
   margin-top: 2vh;
   width: 100px;
   height: 50px;
}

@media  (max-width:450px){

  .ant-layout-sider ant-layout-sider-dark site-layout-background{
      max-width: 100px !important ;
      min-width: 100px !important;
  }

  img{
      height: 100px;
  }
 
  .ant-layout{
      width: 1200px;
  }

  .ant-card-head{
      margin-top: 20px;
  }
  .ant-layout{
      width: 2000px!important;
      height: 2000px!important;
  }



}