#content_shell {
  width: 800px;
  height: 900px;
  display: flex;
  flex-direction: column;
}
.right_title_2 {
  font-size: 1.042vw;
  font-weight: 1000;
  position: relative;
  top: 20.208vw;
  left: 0.208vw;
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.business_right_content {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40vh;
}
#__Contactsymbolstyle__ {
  align-items: flex-start !important;
}
.Business_content {
  width: 320px;
  margin-bottom: -1.437vw;
  margin-top: 4.563vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.business_img {
  width: 350px;
  border-radius: 3px;
  padding: 10px;
}

@media screen and (max-width: 450px) {
  #content_shell {
    display: flex;
    flex-direction: column;
  }
  .title_h3 {
    font-weight: 1000;
  }
  .right_title {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .business_right_content {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0vh;
  }
  #__Contactsymbolstyle__ {
    align-items: flex-start !important;
  }
  .Business_content {
    width: 320px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .business_img {
    width: 300px;
    height: 170px;
    border-radius: 3px;
  }
}
