.introduction {
  position: absolute;

  top: 620px;
  left: 80px;
  width: 350px;
  font-family: PingFang SC;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 5.167vw;
  text-align: center;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #ffffff;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px 3px 0px 0px;
}

.culture {
  background-color: #2373c8;
  height: 100px;
}

.content-menu {
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: relative;
  width: 350px;
  background: rgba(182, 182, 182, 0.6);
  border-radius: 0px 0px 3px 3px;
}

.content-menu div {
  margin-left: 15px;
  width: 300px;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 80px;
  text-align: justify;
  color: #000000;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 450px) {
  .warp1 {
    display: none;
  }
  .introduction {
    display: none;
  }
}
