#m_shell {
  display: flex;
  flex-direction: column;
}
.title_h3 {
  font-weight: 1000;
}
.right_title {
  width: 900px;
  display: flex;
  position: absolute;
  top: 40.208vw;
  left: 40.833vw;
  flex-direction: column;
  justify-content: center;
}
.right_cont {
  width: 54.125vw;

  justify-content: space-between;
  min-height: 600px;
  position: absolute;
  top: 33.208vw;
  left: 30vw;
  font-size: 22px;
}

.outer_shell {
  width: 54.125vw;
  min-height: 450px;
  flex-wrap: nowrap;
  /* display: flex; */
  justify-content: space-around;
}
.m_title {
  width: 54.125vw;
  text-align: center;
  margin-bottom: 20px;
}
.photo_img {
  display: flex;
  width: 496px;
  /* height: 360px; */
  margin-bottom: 0.521vw;

  cursor: pointer;
}
.photo {
  width: 54.125vw;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  /* min-height: 22.667vw; */
  display: flex;
  margin-bottom: 0.833vw;
}
.comment {
  /* width: 600px; */
  /* height: 20.833vw; */
  /* position: relative;
  top: -33vh;
  left: 7vw; */

  text-align: center;
  font-size: 0.938vw;
  text-indent: 2.083vw;
  font-family: Arial;
  white-space: pre-wrap;
  margin-bottom: 11.563vw;
}
@media screen and (max-width: 450px) {
  .m_title {
    position: relative;
    left: -10px;
    font-size: 26px !important;
  }
  .comment {
    width: 380px;
    position: relative;
    top: 40px;
    left: -50px;

    font-size: 16px;
    text-indent: 40px;
    font-family: Arial;
    white-space: pre-wrap;
  }
  #m_shell {
    position: relative;
    top: -100px;
    left: -200px;
  }
  .photo_img {
    width: 180px;
    height: 100px;
  }
}
