#content_shell{
    width:800px;
    height:900px;
    display: flex;
    flex-direction: column;
}
.trend_title_h3{
    font-weight: 1000;
}
.trend_right_title{
    width:800px;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right_content{
    width:800px;
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trend_pag{
    position: relative;
    top:240px;
}
@media screen and (max-width:450px) {
    .trend_pag{
        position: relative;
        top: 100px;
        display: flex;
        flex-direction: row;
    }
    .trend_right_title{
        position: relative;
        top: 10px;
        left: -80px;
    }
 
}
