* {
    margin: 0;
    padding: 0;
}



#FriendlyLinks {
   
   
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background-color: #405791;
    color: aliceblue;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
  
}

#fl_former {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    padding-left: 40px;
}

#Footer_links {
    display: flex;
    flex-direction: row;
}

#Footer_links p {
    padding-left: 30px;
    font-size: 0.5rem!important;
}

#Footer_links p:hover {
    cursor: pointer;
    color: #1C96CA;
}

#fl_later {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

#fengfeng :hover {
    cursor: pointer;
    color: #1C96CA;
}
.admin{
    margin-left: 20px;
    font-size: 13px;
}
.admin:hover{
    cursor: pointer;
    color: #1C96CA;
}
@media screen and (max-width:450px) {
   
    .home-total{
       display: none;
    }
}
